<p id="notice"><%= notice %></p>

<h1>Doctor Apps</h1>

<table>
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Appointment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_apps.each do |doctor_app| %>
      <tr>
        <td><%= doctor_app.doctor.field%></td>
        <td><%= doctor_app.appointment.startdate %></td>
        <td><%= link_to 'Show', doctor_app %></td>
        <td><%= link_to 'Edit', edit_doctor_app_path(doctor_app) %></td>
        <td><%= link_to 'Destroy', doctor_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor App', new_doctor_app_path %>
