<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @diagnosis.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnosis.description %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis), class: 'btn btn-primary' %> |
<%= link_to 'Go Back', diagnoses_path, class: 'btn btn-primary' %>
