<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Prescriptions</h1>

<div class="table-responsive">
<table class="table table-hover table-dark">
    <tr>
      <th>Patient's name</th>
      <th>Doctor's name</th>
      <th>Medicine name</th>
      <th>Prescription date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.patient_profile.user.full_name %></td>
        <td><%= prescription.doctor.user.full_name %></td>
        <td><%= prescription.medicine_name %></td>
        <td><%= prescription.prescription_date %></td>


          <% if current_user.doctor? %>
          <td><%= link_to 'Patient', patient_profile_path(prescription.doctor_id), class: 'btn btn-info' %></td>
           <td><%= link_to 'Show', prescription, class: 'btn btn-info' %></td>
          <td><%= link_to 'Edit', edit_prescription_path(prescription), class: 'btn btn-warning' %></td>
            <td><%= link_to 'Destroy', prescription, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>

            <% elsif current_user.patient? %>
            <td><%= link_to 'Doctor info', doctor_path(prescription.doctor_id), class: 'btn btn-info' %></td>
            <td><%= link_to 'Show Prescription', prescription, class: 'btn btn-info' %></td>
         <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% if current_user.doctor? %>
  <%= link_to 'New Prescription', new_prescription_path, class: 'btn btn-primary' %>
<%end%>
<%end%>
