<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Prescriptions</h1>

<table>
  <thead>
    <tr>
      <th>Medicine name</th>
      <th>Instructions</th>
      <th>Prescription date</th>
      <th>Valid until date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.medicine_name %></td>
        <td><%= prescription.instructions %></td>
        <td><%= prescription.prescription_date %></td>
        <td><%= prescription.valid_until_date %></td>
          <% if current_user.doctor? %>
          <td><%= link_to 'Patient info', patient_profile_path(prescription.doctor_id) %></td>
           <td><%= link_to 'Show', prescription %></td>
          <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
            <td><%= link_to 'Destroy', prescription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
            <% elsif current_user.patient? %>
            <td><%= link_to 'Doctor info', doctor_path(prescription.doctor_id) %></td>
            <td><%= link_to 'Show', prescription %></td>
         <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.doctor? %>
  <%= link_to 'New Prescription', new_prescription_path %>
<%end%>
<%end%>

