<p id="notice"><%= notice %></p>

<p>
  <strong>Patient's name:</strong>
  <%= @prescription.patient_profile.user.full_name %>
</p>

<p>
  <strong>Doctor's name:</strong>
  <%= @prescription.doctor.user.full_name %>
</p>

<p>
  <strong>Medicine name:</strong>
  <%= @prescription.medicine_name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @prescription.instructions %>
</p>

<p>
  <strong>Prescription date:</strong>
  <%= @prescription.prescription_date %>
</p>

<p>
  <strong>Valid until date:</strong>
  <%= @prescription.valid_until_date %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription), class: 'btn btn-primary' %> |
<%= link_to 'Go Back', prescriptions_path, class: 'btn btn-primary' %>
