<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">What time would suite you the most?</h5>

<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start %>
    <%= form.datetime_select :start, start_year: Date.today.year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :end %>
    <%= form.datetime_select :end , start_year: Date.today.year, class: "form-control"%>
  </div>

   <div class="form-group">
    <%= form.label :cost %>
    <%= form.number_field :cost, class: "form-control" %>
  </div>
<br>
  <div class="actions", style="text-align:center">
    <%= form.submit class: 'btn btn-primary' %>
    
  </div>
<% end %>
</div>
      </div>
    </div>
  </div>
</body>
