<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @schedule.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @schedule.end %>
</p>

<p>
  <strong>Cost</strong>
  <%= @schedule.cost%>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule), class: 'btn btn-primary' %> 
<%= link_to 'Back', schedules_path, class: 'btn btn-primary' %>
