<h1>Home#index</h1>

<% if user_signed_in? %>
<% if current_user.patient_profile %>
<p>Welcome, patient</p>
<%= link_to 'Patient profile', 'patient_profiles' %>
<%= link_to 'Medical history', 'patient_histories' %>
<%= link_to 'Prescriptions', 'prescriptions' %>
<%elsif current_user.doctor %>
<p>Welcome, doctor</p>
<%= link_to 'Doctor profile', '/doctors' %>
<%= link_to 'Prescriptions', 'prescriptions' %>
<%elsif current_user.admin? %>
<p>Welcome, admin</p>
<%= link_to 'Prescriptions', 'prescriptions' %>
<%= link_to 'Patient profile', 'patient_profiles' %>
<%= link_to 'Medical history', 'patient_histories' %>
<%= link_to 'Doctors', '/doctors' %>
<%= link_to 'Users', '/users' %>
<% end %>
<% end %>

