<p id="notice"><%= notice %></p>
 
 
<p>
  <strong>Medical history:</strong>
  <%= @patient_history.medical_history %>
</p>
 
<p>
  <% if @patient_history.picture.url %>
  <strong>Image:</strong>

  <%= image_tag(@patient_history.picture.url, size: "220x160")%>
  <% end %>
</p>
 
<%= link_to 'Edit', edit_patient_history_path(@patient_history) %> |
<%= link_to 'Back', patient_histories_path %>
