<%= link_to root_path do %>


<%= image_tag(image_path('Logo1.png')) -%>

<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @doctor.user.firstname %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @doctor.user.lastname %>
</p>
<p>
  <strong>Email address:</strong>
  <%= @doctor.user.email %>
</p>
<p>
  <strong>Phone number:</strong>
  <%= @doctor.user.phonenumber %>
</p>

<p>
  <strong>Field:</strong>
  <%= @doctor.field %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
