<%= form_with(model: patient_profile, local: true) do |form| %>

  <% if patient_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_profile.errors.count, "error") %> prohibited this patient_profile from being saved:</h2>

      <ul>
      <% patient_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ethnicity %>
    <%= form.text_field :ethnicity %>
  </div>
  
  <div class="field">
      <%= form.label :gender %><br />
     <%=form.select :gender, [['male', :male], ['female', :female]] %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
