<p id="notice"><%= notice %></p>

<%if current_user.patient? %>
<h1>Patient's Profile</h1>
<% elsif current_user.admin? %>
<h1>Patient Profiles</h1>
<%end %>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
 <%if !current_user.patient? %>
      <meta http-equiv="refresh" />
       <%= form_tag(patient_profiles_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search by name', name: nil %>
        <% end %>
    <%end%>

  <tbody>
   
    <% @patient_profiles.each do |patient_profile| %>
      <tr>
        <td><%= patient_profile.user.firstname %></td>
        <td><%= patient_profile.user.lastname %></td>
        <td><%= link_to 'Show', patient_profile %></td>
        <% if !current_user.doctor? %>
        <td><%= link_to 'Edit', edit_patient_profile_path(patient_profile) %></td>
        <% elsif current_user.admin? %>
        <td><%= link_to 'Destroy', patient_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif current_user.doctor? %>
        <td><%= link_to 'Select', new_prescription_path(:patient_profile_id => patient_profile.id)%></td>

        
        <%end%> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Medical history', 'patient_histories' %>
<%= link_to 'Prescriptions', 'prescriptions' %>
<%= link_to 'Appointment', 'appointments' %>
