

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient_profile.user.firstname %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @patient_profile.user.lastname %>
</p>
<p>
  <strong>Email address:</strong>
  <%= @patient_profile.user.email %>
</p>
<p>
  <strong>Phone number:</strong>
  <%= @patient_profile.user.phonenumber %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @patient_profile.gender %>
</p>
<p>
  <strong>Ethnicity:</strong>
  <%= @patient_profile.ethnicity %>
</p>


<%= link_to 'Edit', edit_patient_profile_path(@patient_profile), class: 'btn btn-warning' %>
<%= link_to 'Go Back', patient_profiles_path, class: 'btn btn-primary' %>
<%if current_user.admin?%>
<td>| <%= link_to 'Destroy', @doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%end%>
