<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Cost</th>
      <th>Startdate</th>
      <th>Finishdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.description %></td>
        <td><%= appointment.cost %></td>
        <td><%= appointment.startdate %></td>
        <td><%= appointment.finishdate %></td>
        
       
         <% if current_user.patient? %>
           
            <td><%= link_to 'Doctor info', doctors_path(appointment.patient_profile_id) %></td>
            <td><%= link_to 'Show', appointment %></td>
          <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
            <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
            <% elsif current_user.doctor? %>
            <td><%= link_to 'Patient info', patient_profiles_path(appointment.patient_profile_id) %></td>
            <td><%= link_to 'Show', appointment %></td>
         <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.patient? %>
<%= link_to 'New Appointment', new_appointment_path %>



<%end%>

<% if current_user.doctor? %>
<%= link_to 'New Schedule', new_schedule_path %>

<%end%>
<%end%>

        
        
        
    

