<h1>New Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= month_calendar cars: @bookings do |date, bookings| %>  
  <%= date %>  

  <% bookings.each do |booking| %>  
    <div>  
      <%= booking.start_time %>  
    </div>  
  <% end %>  

<% end %>

<%= link_to 'Back', appointments_path %>


