<!DOCTYPE html>
<html>
  <head>
    <title>InnoMed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, :name=> 'stripe-key', :content => Rails.configuration.stripe[:publishable_key] %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div id='menu'>
  <div id="navbar">
      <ul>
      <% if current_user.patient?%>
      <li><a href="/patient_profiles">Your profile</a></li>
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/patient_histories">Your medical history</a></li>
      <li><a href="/schedules">Free appointments</a></li>
      <li><a href="/booked_schedules">Your appointments</a></li>
      <li><a href="/diagnoses">Your diagnosis</a></li>
      <li><a href="/prescriptions">Your prescriptions</a></li>
      <%elsif current_user.doctor?%>
      <li><a href="/doctors">Your profile</a></li>
      <li><a href="/patient_profiles">Patients</a></li>
      <li><a href="/patient_histories">Medical histories</a></li>
      <li><a href="/schedules">Create appointments</a></li>
      <li><a href="/booked_schedules">Your appointments</a></li>
      <li><a href="/diagnoses">Set up diagnosis</a></li>
      <li><a href="/prescriptions">Prescriptions</a></li>
      <% elsif current_user.admin? %>
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/patient_profiles">Patients</a></li>
      <li><a href="/patient_histories">Medical histories</a></li>
      <li><a href="/schedules">Free appointments</a></li>
      <li><a href="/booked_schedules">Booked appointments</a></li>
      <li><a href="/diagnoses">Diagnosis</a></li>
      <li><a href="/prescriptions">Prescriptions</a></li>
      <%end%>
      </ul>
      </div> 
    <%end%>

</div>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
    <% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete
 %>)</div>
<% else %>
  <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
<% end %>

  </body>
</html>
